@import "../../styles/variables";

.buttons{
  display: flex;
  background: $white;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 20px 0;
  button{
    font-family: $standardFont;
    font-size: 15px;
    min-width: 200px;
    color: $black;
    border: none;
    background: transparent;
    padding: 0 15px;
    border-right: 1px solid $black;
    font-weight: 500;
    &:hover{
      color: lighten($green, 50%);
    }
    &:disabled{
      color: lighten($black, 50%);
    }
    &:last-child{
      border: none;
    }
  }
}