@import "./src/styles/variables";

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.logo{
  width: 30%;
  margin-top: -30px;
  margin-bottom: 30px;
}
.nav{
  display: flex;
  background-color: $white;
  border-radius: 20px;
  padding: 10px 10px;
  &Item{
    padding: 0 15px;
    border-right: 1px solid $black;
    cursor: pointer;
    color: $black;
    font-family: $standardFont;
    font-size: 18px;
    &:last-child{
      border: none;
    }
    & a:hover{
      color: lighten($green, 50%);
    }
  }

}
