@import "src/styles/variables";

.filterItem{
  &Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  &Title{
    font-family: $standardFont;
    font-weight: 400;
    font-size: 15px;
    margin-right: 5px;
    color: $black;
  }
  &Select{
    -webkit-appearance: none;
    border: none;
    font-family: $standardFont;
    font-weight: 400;
    font-size: 15px;
    color: $black;
    background: transparent;
    &:focus{
      outline: none;
    }
  }

}